@using Web.Extensions.HtmlHelperExtensions
@using Web.ViewModels.Contact

@model NewContactViewModel
@{
    ViewBag.Title = "New Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <span class="fa fa-address-card-o" style="margin-right: 5px;"></span>New Contact
        <p data-current-step="1" class="pull-right contact-newcontact-currentstep"></p>
    </div>
    <div class="panel-body">
        @Html.AntiForgeryToken()
        @using (Html.BeginForm("New", "Contact", FormMethod.Post, new { @class = "form-horizontal center-block contact-newcontact-form", @style = "height: 700px; margin-top:20px; padding-left: 30px; padding-right: 30px;" }))
        {
            <fieldset class="contact-newcontact-firststep">
                @Html.HiddenFor(c => Model.Id)
                <div class="form-group">
                    @Html.LabelFor(c => Model.Name, new { @class = "label label-primary" })
                    @Html.TextBoxFor(c => Model.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(c => Model.Name, null, new { @class = "label label-danger pull-right" })
                    <br />
                </div>

                <div class="form-group">
                    @Html.LabelFor(c => Model.FirstName, new { @class = "label label-primary" })
                    @Html.TextBoxFor(c => Model.FirstName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(c => Model.FirstName, null, new { @class = "label label-danger pull-right" })
                    <br />
                </div>
                <div class="form-group">
                    @Html.LabelFor(c => Model.LastName, new { @class = "label label-primary" })
                    @Html.TextBoxFor(c => Model.LastName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(c => Model.LastName, null, new { @class = "label label-danger pull-right" })
                    <br />
                </div>
                <div class="form-group">
                    @Html.LabelFor(c => Model.PhoneNumber, new { @class = "label label-primary" })
                    @Html.TextBoxFor(c => Model.PhoneNumber, new { @class = "form-control" })
                    @Html.ValidationMessageFor(c => Model.PhoneNumber, null, new { @class = "label label-danger pull-right" })
                    <br />
                </div>
                <div class="form-group">
                    @Html.LabelFor(c => Model.Email, new { @class = "label label-primary" })
                    @Html.TextBoxFor(c => Model.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(c => Model.Email, null, new { @class = "label label-danger pull-right" })
                    <br />
                </div>
            </fieldset>

            <fieldset class="contact-newcontact-secondstep" style="display: none;">
                Second Step
            </fieldset>

            <fieldset class="contact-newcontact-finalstep" style="display: none;">
                Third Step
            </fieldset>

            <br />

            <div class="form-group button-group pull-right contact-newcontact-wizardcontrol">
                <button type="button" class="btn btn-default contact-newcontact-previousstep"><i class="fa fa-arrow-left" style="margin-right: 5px;"></i>Back</button>
                <button type="button" class="btn btn-primary contact-newcontact-nextstep">Next<i class="fa fa-arrow-right" style="margin-left: 5px;"></i></button>
            </div>
            <div class="form-group contact-newcontact-submitbutton" style="display: none">
                <input id="Save" type="submit" class="btn btn-primary pull-right" value="Submit" />
            </div>
        }
    </div>
</div>

@section scripts{
    <script>
        var currentPage = "#ContactNav";

        $(document).ready(function () {
            newContactWizardController.init();
        });
    </script>
}