@using Web.Extensions
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table id="accountTable" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>@Html.GetLocalizedString("Web.Account.AccountList.Label.AccountName")</th>
        <th>@Html.GetLocalizedString("Web.Account.AccountList.Label.AccountNumber")</th>
        <th>@Html.GetLocalizedString("Web.Account.AccountList.Label.DateOpened")</th>
        <th>@Html.GetLocalizedString("Web.Account.AccountList.Label.DateClosed")</th>
        <th>@Html.GetLocalizedString("Global.Edit")</th>
        <th>@Html.GetLocalizedString("Global.Delete")</th>
    </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts{
    routing.setCurrentPage("#AccountNav");
    accountTableController.init();
}