@model Web.Presentation.ViewModels.PartnerViewModels.PartnerViewModel

@{
    ViewBag.Title = "New Partner";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <span class="fa fa fa-user" style="margin-right: 5px;"></span>New Partner
    </div>
    <div class="panel-body">
        @Html.AntiForgeryToken()
        @using (Html.BeginForm("Create", "Partner", FormMethod.Post, new { @class = "form-horizontal", @style = "height: 360px; margin-top:20px; padding-left: 30px; padding-right: 30px;" }))
        {
            <fieldset>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(c => Model.Name)
                        @Html.TextBoxFor(c => Model.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(c => Model.Name, null, new { @class = "label label-danger pull-right" })
                        <br />
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(c => Model.Number)
                        @Html.TextBoxFor(c => Model.Number, new { @class = "form-control" })
                        @Html.ValidationMessageFor(c => Model.Number, null, new { @class = "label label-danger pull-right" })
                        <br />
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(c => c.SelectedPartnerTypeId)
                        @Html.DropDownListFor(c => c.SelectedPartnerTypeId, Model.PartnerTypeSelection, new {@class = "form-control"})
                        @Html.ValidationMessageFor(c => c.SelectedPartnerTypeId, null, new {@class = "label label-danger pull-right"})
                        <br/>
                    </div>
                </div>
            </fieldset>

            <br />
            <div class="form-group pull-right">
                <input id="Save" type="submit" class="btn btn-primary pull-right" style="margin-left: 5px;" value="Save" />
            </div>
        }
    </div>
</div>

@section scripts{
}