@using Web.Extensions.HtmlHelperExtensions
@using Web.Extensions.SitemapExtensions
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/vendor/styles")
    @Styles.Render("~/bundles/app/styles")
    @Scripts.Render("~/bundles/vendor/modernizr")
</head>
<body>
    @Html.GenerateRibbon()
    <ul class="prophet"></ul>
    <div id="app-body" data-current-page="">
        <div class="container-fluid">
            <div class="row" style="height: 800px;">
                <div class="col-md-12">
                    @RenderBody()
                    <div id="runTaskForm" style="display: none"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer navbar-fixed-bottom">
        <div class="icon-sidebar">
            <span class="fa fa-2x fa-bookmark-o"></span>
        </div>
    </div>
    @Scripts.Render("~/bundles/vendor/lib")
    @Scripts.Render("~/bundles/vendor/jqueryval")
    @Scripts.Render("~/bundles/app")
    @Scripts.Render("~/bundles/app/services")
    @Scripts.Render("~/bundles/app/controllers")
    <script>
    $(document).ready(function() {
        App.init();
        $.support.cors = true;
        Routing.init('@Html.GetWebServerUri()');
        ToastNotification.init("#snackbar");

        @RenderSection("scripts", false)

        NavbarController.init();
    });
    </script>

</body>
</html>