@using Web.Extensions.HtmlHelperExtensions
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/vendor/styles")
    @Scripts.Render("~/bundles/vendor/modernizr")
</head>
<body>
    <div class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Performance App", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @Html.GenerateRibbon();
                    <!-- <li>@Html.ActionLink(" Partners", "Index", "Partner", new {area = ""}, new {@class = "fa fa-users"})</li>
                    <li>@Html.ActionLink(" Contacts", "Index", "Contact", new {area = ""}, new {@class = "fa fa-address-card-o"})</li>
                    <li>@Html.ActionLink(" Accounts", "Index", "Account", new {area = ""}, new {@class = "fa fa-university"})</li>
                    <li>@Html.ActionLink(" Portfolios", "Index", "Portfolio", new {area = ""}, new {@class = "fa fa-book"})</li>
                    <li>@Html.ActionLink(" Reports", "Index", "Report", new {area = ""}, new {@class = "fa fa-bar-chart"})</li>
                    <li>@Html.ActionLink(" Tasks", "Index", "Task", new {area = ""}, new {@class = "fa fa-tasks"})</li>
                    <li>@Html.ActionLink(" Terminal", "Index", "Home", new {area = ""}, new {@class = "fa fa-terminal"})</li>
                    <li>@Html.ActionLink(" Search", "Index", "Home", new {area = ""}, new {@class = "fa fa-search"})</li>-->
                </ul>
            </div>
    </div>
        <div class="row">
            <div class="col-md-2" style="padding-left: 40px;">
                <table id="primaryLeftPanel" class="table table-bordered table-hover">
                    <tbody>
                    <tr>
                        <td>Option</td>
                    </tr>
                    <tr>
                        <td>Option</td>
                    </tr>
                    <tr>
                        <td>Option</td>
                    </tr>
                    <tr>
                        <td>Option</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div id="primaryRightPanel" class="col-md-10" style="padding-right: 40px;">
                @RenderBody()
            </div>
        </div>

    @Scripts.Render("~/bundles/vendor/lib")
    @Scripts.Render("~/bundles/app")
    @Scripts.Render("~/bundles/app/services")
    @Scripts.Render("~/bundles/app/controllers")
    @RenderSection("scripts", false)
</body>
</html>