@using Web.Extensions
@using Web.Extensions.HtmlHelperExtensions
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/vendor/styles")
    @Scripts.Render("~/bundles/vendor/modernizr")
</head>
<body>
<div class="navbar navbar-default">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        @Html.ActionLink("Kings Lantern", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            @Html.GenerateRibbon();
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-3" style="padding-left: 40px;">
        @RenderPage("Selection.cshtml")
    </div>
    <div id="primaryRightPanel" class="col-md-9" style="padding-right: 40px;">
        @RenderBody()
    </div>
</div>

@Scripts.Render("~/bundles/vendor/lib")
@Scripts.Render("~/bundles/app/components")
@Scripts.Render("~/bundles/app")
@Scripts.Render("~/bundles/app/services")
@Scripts.Render("~/bundles/app/controllers")

@RenderSection("scripts", false)
    
<script>
    $(document).ready(function () {
        selectionController.init();
    });
</script>

</body>
</html>