@using Web.Extensions.SitemapExtensions
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/vendor/styles")
    @Styles.Render("~/bundles/app/styles")
    @Scripts.Render("~/bundles/vendor/modernizr")
</head>
<body>
    @Html.GenerateRibbon()
<div id="app-body">
    <div class="container-fluid">
        <div class="row" style="height: 800px;">
            <div class="col-md-3" style="height: 100%;">
                @RenderPage("Selection.cshtml")
            </div>
            <div class="col-md-9" style="height: 100%;">
                @RenderBody()
            </div>
        </div>        
    </div>
</div>


@Scripts.Render("~/bundles/vendor/lib")
@Scripts.Render("~/bundles/app/components")
@Scripts.Render("~/bundles/app")
@Scripts.Render("~/bundles/app/services")
@Scripts.Render("~/bundles/app/controllers")

@RenderSection("scripts", false)
    
<script>
    $(document).ready(function () {
        selectionController.init();
        navbarController.init(currentPage);
    });
</script>

</body>
</html>