<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/vendor/css")
    @Scripts.Render("~/bundles/vendor/modernizr")
</head>
<body>
    <div class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Performance App", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(" Partners", "Index", "Home", new { area = "" }, new { @class = "fa fa-users" })</li>
                    <li>@Html.ActionLink(" Contacts", "Index", "Home", new { area = "" }, new { @class = "fa fa-address-card-o" })</li>
                    <li>@Html.ActionLink(" Accounts", "Index", "Home", new {area = ""}, new {@class = "fa fa-university"})</li>
                    <li>@Html.ActionLink(" Portfolios", "Index", "Home", new {area = ""}, new {@class = "fa fa-book"})</li>
                    <li>@Html.ActionLink(" Reports", "Index", "Home", new {area = ""}, new {@class = "fa fa-bar-chart"})</li>
                    <li>@Html.ActionLink(" Terminal", "Index", "Home", new {area = ""}, new {@class = "fa fa-terminal"})</li>
                    <li>@Html.ActionLink(" Search", "Index", "Home", new {area = ""}, new {@class = "fa fa-search"})</li>
                </ul>
            </div>
    </div>
        <div class="row">
            <div class="col-md-4">
                Hello
            </div>
            <div class="col-md-8">
                @RenderBody()
            </div>
        </div>

    @Scripts.Render("~/bundles/vendor/jquery")
    @Scripts.Render("~/bundles/vendor/bootstrap")
    @Scripts.Render("~/bundles/app")
    @RenderSection("scripts", false)
</body>
</html>