<div class="navbar-right">
    <ul class="nav navbar-nav">
        <li>
            <a href="@Url.Action("Logout", "Authentication")"> Sign out <span class="fa fa-sign-out"></span> </a>
        </li>
    </ul>

    @Html.AntiForgeryToken()
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="margin-right: 20px;">@User.Identity.Name <span class="fa fa-caret-square-o-down"></span></a>
            <ul class="dropdown-menu" style="width: 300px;">
                <li><a href="@Url.Action("Index", "Home")">Admin Panel <span class="fa fa-user pull-right"></span></a></li>
                <li role="separator" class="divider"></li>
                <li><a href="@Url.Action("ChangePassword", "Authentication")">Change Password <span class="fa fa-key pull-right"></span></a></li>
                <li><a href="@Url.Action("Index", "Home")">Change Settings <span class="fa fa-cog pull-right"></span></a></li>
                <li role="separator" class="divider"></li>
                <li><a href="@Url.Action("Logout", "Authentication")">Sign out <span class="fa fa-sign-out pull-right"></span></a></li>
            </ul>
        </li>
    </ul>
</div>
